@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"),
        url("TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
        url("TTLakes/TTLakes-Regular.woff") format("woff"), url("TTLakes/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Bold.eot");
    src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
        url("TTLakes-Bold.woff") format("woff"), url("TTLakes-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TT Lakes";
    src: url("TTLakes-Medium.eot");
    src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
        url("TTLakes-Medium.woff") format("woff"), url("TTLakes-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "TT Lakes", sans-serif;
    font-weight: bold;
    color: #1b1c21;
}

.container {
    height: 1200px;
    width: 320px;
    margin: 0 auto;
    border: 1px solid gray;
}

.upper-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 88px;
    margin: 0;
    background: white;
    border-bottom: 1px solid #d9fff5;
}

.upper-menu__left-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.upper-menu__right-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.upper-menu__right-part > .upper-menu__item {
    margin-right: 15px;
}

.upper-menu__left-part > .upper-menu__item {
    margin-left: 15px;
}

.upper-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.upper-menu__delimetr {
    height: 32px;
    width: 2px;
    background: #eaeaea;
}
