@import "../fonts/_fonts";
@import "_colors";
$sm: 500px;
$md: 768px;
$lg: 1119px;

body {
  font-family: "TT Lakes";
  color: #1b1c21;
  background: #f2f2f2;
  margin: 0;
}

.container {
  height: auto;
  width: 100%px;
  min-width: 320px;
  max-width: $lg;
  height: 100%;
  @media screen and (min-width: $lg) {
    margin: 0 auto;
    height: auto;
  }
  background: $bg-gray;
}
.upper-menu {
  display: flex;
  justify-content: flex-start;
  height: 88px;
  margin: 0;
  background: white;
  border-bottom: 1px solid $lime-green;

  // .upper-menu__part
  &__left-part {
    display: flex;
    flex-grow: 0;
  }
  // .upper-menu__part
  &__right-part {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  &__right-part > &__item {
    margin-right: 15px;
  }
  &__left-part > &__item {
    margin-left: 15px;
  }
  // .upper-menu__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// delimeter
.delimeter {
  height: 32px;
  width: 2px;
  background: #eaeaea;
  @media screen and (min-width: $lg) {
    display: none;
  }
}

//btn-link
.btn-link {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  //btn-link--hidden
  &--hidden {
    display: none;

    @media screen and (max-width: $lg) and (min-width: $sm) {
      display: block;
    }
  }
  //btn-link__title
  &__title {
    display: none;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: $font-text !important;
    margin-right: 10px;
    @media screen and (min-width: $lg) {
      display: block;
    }
  }
  //btn-link__title:hover
  &__title:hover {
    text-decoration: underline;
  }
}
//title
.title {
  border-left: 4px solid $faux-turquoise;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-sizing: border-box;

  // .tile__box
  &__box {
    width: 300px;
    margin: 25px 0;
  }
  // .title__text
  &__text {
    margin: 0;
    text-indent: 15px;
    font-size: 28px;
    letter-spacing: -0.6px;

    color: #1b1c21;
    font-weight: bold;
  }
}
//slide-menu
.slide-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  // .slide-menu__items
  &__items {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0 15px;
    @media screen and (min-width: $lg) {
      max-width: 1120px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  // .slide-menu__item--active

  &__item--active {
    background: white;

    border-radius: 5px;
    border: 2px solid $turquoise;
    box-sizing: border-box;
  }
  // .slide-menu__item
  &__item {
    margin-right: 5px;
    height: 40px;
    padding: 8px 15px;
    list-style: none;
    display: inline-block;
  }
  // .slide-menu__anchor
  &__anchor {
    text-decoration: none !important ;
    font-weight: 500;
    color: $font_gray;
  }
  &__anchor:hover {
    text-decoration: underline !important;
    color: darken($font_gray, 20%);
  }
  // .slide-menu__content
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  // .slide-menu__description
  &__description {
    padding: 0 15px;
    width: auto;
    margin-bottom: 25px;

    overflow: hidden;

    @media screen and (max-width: $md) {
      max-height: 120px;
      max-width: 290px;
    }
    @media screen and (max-width: $lg) and (min-width: $sm) {
      max-height: 160px;
      max-width: 312px;
    }
    @media screen and (min-width: $lg) {
      max-width: 500px;
      max-height: 180px;
    }
  }
  // .slide-menu__text
  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $font-text;
    margin: 0;
    overflow: hidden;
    z-index: 9;
  }
  // .slide-menu__text--md
  &__text--md {
    display: none;
    @media screen and (min-width: $md) {
      display: inline;
    }
  }
  // .slide-menu__text--lg
  &__text--lg {
    display: none;
    @media screen and (min-width: $lg) {
      display: inline;
    }
  }
  // .slide-menu__more-btn
  &__more-btn {
    position: relative;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    margin: 10px 0 10px 35px;

    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-decoration: none !important ;
    color: $font-text !important ;
    z-index: 10;
  }
  // .slide-menu__more-btn:hover
  &__more-btn:hover {
    text-decoration: underline !important ;
    cursor: pointer;
  }
  // .slide-menu__more-btn::before
  &__more-btn::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 6px;
    background-image: url("../img/icon.svg");
    background-size: 85%;
    background-repeat: no-repeat;
    height: 12px;
    width: 11px;
  }
  // .slide-menu__img

  &__img {
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 2px;

    @media screen and (max-width: $lg) and (min-width: $sm) {
      height: 260px;
      width: 360px;
      margin-left: 48px;
    }
    @media screen and (min-width: $lg) {
      height: 300px;
      width: 530px;
      margin-left: 36px;
    }
  }
}
